.busca{
    border: solid;
    display: flex;
    width: 420px;
    border-radius: 8px;
    justify-items: center;
    

}
.busca>input{
    width: 390px;
    height:40px;
    border: none;
    border-radius: 8px;
    outline: none;
}
.busca>input::placeholder{
    color: black;
    font-weight: 700;
    
}

.buscar>img{
    height:100%;
    width:px;
    cursor: pointer;   
}

.filtro{
    display: inline-block;
    border-radius:8px;

}
.option{
    width: 170px;
    height: 50px;
    border-radius: 8px;
    border:3px solid ;
    margin-left: 10px;
}
    .option>option{
        font-size: 15px;
        font-weight: 700;
    }

    .b{
        display: flex;
    }

  .cria_OS{
     width: 170px;
    height: 50px;
    border-radius: 8px;
    border:3px solid ;
    margin-left: 10px;
    background-color: blue;
    color: white;
    font-weight:600;
  }  


