
.totalOs{
    border: solid;
    display: inline-block;
    width:300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    
}
.totalOs>img{
   
    background-color: black;
 
    
}

.totalOs>.total>.numero{
   font-family: "Inter",sans-serif;
   font-size: 20px;
   font-weight: 700;
   display: block;
}