@import url('layouts/header.css');
@import url('layouts/global.css');
@import url('layouts/sub-header.css');
@import url('layouts/estatiticas.css');
@import url('layouts/tabela.css');
@import url('layouts/card-nova-os.css');
@import url('layouts/equipamentos.css');