@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0 auto;
    padding:0 auto;
    box-sizing: border-box;

}

.header{
    border: solid;
   height: 100px;
   align-content: center;
    

}
.header>img{
    width: 50px;
    height: 50px;
    border: solid;
    display: inline;
    
}
.image>span{
    color: #575757;
    font-family: "Inter", sans-serif;
    font-size: 33px;
    font-weight: 900;
    border: solid;
    
    display: inline;

}
header{
    display: flex;

}
.new_os{
    width: 140px;
    height: 50px;
    background-color: #2B56CA;
    color:#C0CCEC;
    font-size: 12px;

}