.sub-header {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.box-sub-header {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #8030E0;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.3s;
}

.box-sub-header:hover {
    transform: scale(1.03);
}

.box-sub-header-2:hover {
    transform: scale(1.03);
}


.box-sub-header h1 {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}

.box-sub-header span {
    color: #fff;
}

.box-sub-header-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #1A1A1D;
    color: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.3s;

}

.box-sub-header-2 h1 {
    font-size: 1rem;
    font-weight: bold;
    color: ccc;
}

.box-sub-header-2 span {
    color: #fff;
}